@import url('/css/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#home {
  width: auto;
}

.img-home {

width: 100%;
height: 100%;

}

.img-home {
  /* The image used */

  width: 100%;

  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(3px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text h3{

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 20px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 5em;
  color: #fff;
}

.bg-text p{

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 40px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: rgb(232, 232, 232);
}

.bg-button {

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgb(0, 151, 166);
  color: white;
  font-size: 0.8em;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}
.text-center {

  text-align: center;
}
.bg-button:hover {
  background-color: rgb(198, 68, 130);
}

/* PLANES */


.img-plan {

  max-width: 100%;
  height: auto;
  padding: 10px;

}

.container-planes {

margin: 0px;
background-color: rgb(255, 255, 255);
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;

}

.container-plan {

display: inline-block;
padding: 10px;
width: 100%;
height: 450px;
display: flex;
align-items: center;
flex-direction: column;

}

.container-plan h3 {
  padding-top: 10px;
  text-align: center;
  color: #5100ba;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5em;

}


.container-plan p {

  height: 300px;
  padding-top: 10px;
  color: #5100ba;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;

}

.btn-consultar {

  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(0, 151, 166);
  color: #fff;
  font-size: 0.8em;
  padding:15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;

}

.btn-consultar:hover {

background-color: rgb(198, 68, 130);

}

/* SERVICIOS */

.servicios {

  padding: 40px;
  text-align: center;
  color: rgb(52, 52, 52);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2em;

}



.container-services {

margin-left: 10px;
background-color: rgb(255, 255, 255);
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;

}

.container-service {

display: inline-block;
padding: 20px;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;

}

.container-service h3 {
  padding-top: 10px;
  text-align: center;
  color: #ad00fe;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5em;

}


.container-service p {

  height: 150px;
  padding-top: 10px;
  color: #585858;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;

}

/* FORMULARIO DE CONTACTO*/

.base-form {
padding: 20px;
display: flex;
justify-content: space-between;
background-color: rgb(233, 233, 233);

}

#btn-icon {
  color: #5100ba;
  font-size: 2em;
}

#input-sm {

  height: 100px;
  width: 100%;
  border: 1px solid #5100ba ;
  padding: 25px;
  font-family: 'Hind', sans-serif;
  font-size: 1em;
  text-align: left;
  box-sizing: border-box;
  display: inline-block;

}

#input-md {

  height: 200px;
  width: 600px;
  border: 1px solid #5100ba ;
  padding: 25px;
  font-family: 'Hind', sans-serif;
  font-size: 1em;
  text-align: left;



}

#button-form {

  height: 100px;
  width: 600px;
  background-color: #5100ba;
  border: 1px solid #202020;
  color: #fff;
  padding: 25px;
  font-family: 'Hind', sans-serif;
  font-size: 1em;
  text-align: center;

}

#button-form:hover {

  background-color: rgb(198, 68, 130);
  cursor: pointer;
}

.titulo-contacto {

  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  width: 600px;

}

.texto-contacto {

  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  width: 600px;
  padding: 10px;

}

.iconos-contacto {

  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: left;
  width: 600px;
  margin-left: 80px;
  color: #5100ba;

}

.sucursales-contacto {

  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: left;
  width: 600px;
  margin-left: 80px;
  color: #202020;

}

/* BOTON WHATSAPP */

#btn-wh {
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: #fff;
       width: 50px;
       height: 50px;
       color: #fff;
       position:fixed;
       right:20px;
       bottom:70px;
       border-radius:50%;
       text-align:center;
       z-index:20;
       cursor: pointer;
}
